{% load i18n %}
{% load panel_tags %}

<h4>{% trans "Сверстаные страницы" %}</h4>

<table>
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Файл шаблона" %}</th>
            <th>{% trans "Файл с данными" %}</th>
            <th>{% trans "Файл верстки" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for id, page in pages.items %}
            <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                <td>
                    <a href="/markup/{{ page.output_name }}">
                        {{ page.title }}
                    </a>
                </td>
                <td> {{ page.template_name}} </td>
                <td> {{ page.fixture_name}} </td>
                <td> {{ page.output_name}} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% for name, metadata in fixtures.models.items %}
    <h4>{{ name }} - {{ metadata.model_class|model_verbose_name }}</h4>
    <table>
        <tbody>
            {% for field in metadata.model_class|model_fields %}
                <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                    <td>&nbsp;</td>
                    <td>{{ field.name }}</td>
                    <td>{{ field.verbose_name }}</td>
                    <td>{{ field.help_text }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
