{% load flatblock_tags %}
{% load seo %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="{{ LANGUAGE_CODE }}" class="i-ua_js_no i-ua_css_standard no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="{{ LANGUAGE_CODE }}" class="i-ua_js_no i-ua_css_standard no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="{{ LANGUAGE_CODE }}" class="i-ua_js_no i-ua_css_standard no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE }}" class="i-ua_js_no i-ua_css_standard no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script>
            ;(function(d, e, c, r) {
                e = d.documentElement;
                c = "className";
                r = "replace";
                e[c] = e[c][r]("i-ua_js_no", "i-ua_js_yes");
                if (d.compatMode != "CSS1Compat") e[c] = e[c][r]("i-ua_css_standart", "i-ua_css_quirks")
            })(document);
        </script>

        {% get_metadata as metadata %}
        {% block page_metadata %}
            {% if not metadata.title.value %}
                {% if object.seo_title %}
                    <title>{{ object.seo_title }}</title>
                {% elif object.title %}
                    <title>{{ object.title }}</title>
                {% elif object.name %}
                    <title>{{ object.name }}</title>
                {% else %}
                    <title>{% block page_title %}{% endblock %}</title>
                {% endif %}
            {% else %}
                {{ metadata.title }}
            {% endif %}

            {% if metadata.description.value|length == 0 %}
                <meta name="description" content="{% block page_description %}{% endblock %}" />
            {% else %}
                {{ metadata.description }}
            {% endif %}

            {% if metadata.keywords.value|length == 0 %}
                <meta name="keywords" content="{% block page_keywords %}{% endblock %}" />
            {% else %}
                {{ metadata.keywords }}
            {% endif %}
        {% endblock page_metadata %}

        {% block page_head %}{% endblock %}

        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% block page_styles %} {% endblock %}

        <script src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>

        {% if user.is_staff %}
            <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}flatblocks/flatblocks.css" />
        {% endif %}
    </head>
    <body class="b-page b-page__body {% block bodyclass %}{% endblock %}">
        {% comment %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% endcomment %}

        {% spaceless %}
            {% block page_body %}{% endblock %}
        {% endspaceless %}

        {% block page_scripts %}
        <script src="{{ STATIC_URL }}markup/js/jquery-1.10.0.min.js"></script>
            <script src="{{ STATIC_URL }}js/plugins.js"></script>
        {% endblock %}

        {% flatblock "seo.google_counter" 3600 using "counters/google-counter.html" %}
        {% flatblock "seo.yandex_counter" 3600 using "counters/yandex-counter.html" %}
    </body>
</html>
